.carousel-products-title {
    text-align: center;
}
.carousel-products {
    user-select: none;
}
.carousel-products-meta {
    // font-weight: 400;
    // font-size: 12px;
    // font-size: 1.2rem;
    // letter-spacing: 2px;
    color: #9e9e9e;
    text-align: center;
    // margin: 0;
}

.carousel-products-slide {
    // width: 98%;
    // margin-right: 2%;
    // text-align: center;
    // position: relative;
}

.carousel-products-slide {
    // width: 98%;
    // margin-right: 2%;
    // text-align: center;
    // position: relative;
}