<div class="_select-product-list_container">
  <mat-form-field appearance="fill">
    <mat-label>Customer Name</mat-label>
    <input
      type="text"
      [(ngModel)]="customerName"
      matInput
      placeholder="Tentolo"
    />
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    appearance="fill"
    (click)="toggle._open($event)"
  >
    <mat-label>Order date</mat-label>
    <input [(ngModel)]="orderDate" matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle
      #toggle
      matSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <app-select-product
    *ngFor="let product of coldPressedProducts; let index = index"
    [product]="product"
    [formControl]="controls[index]"
  ></app-select-product>
  <div class="_app-head-font">
    SubTotal: {{ subTotal$ | async | number: "1.0" }} ฿
  </div>
  <div class="_app-head-font">
    Discount: {{ discount$ | async | number: "1.0" }} ฿
    <span
      class="_select-product-list_promotion-name"
      *ngIf="promotionNames$ | async as promotions"
    >
      ({{ promotionNames$ | async }})
    </span>
  </div>
  <div class="_app-head-font">
    Total: {{ total$ | async | number: "1.0" }} ฿
  </div>
  <div class="_select-product-list_reset-container">
    <a
      #downloadEl
      *ngIf="receiptImageSrc"
      mat-mini-fab
      [attr.href]="receiptImageSrc"
      download="receipt.png"
      color="primary"
      aria-label="icon button with a download icon"
    >
      <mat-icon>download</mat-icon>
    </a>
    &nbsp;
    <button
      mat-mini-fab
      (click)="writeReceipt($event)"
      color="primary"
      aria-label="icon button with a print receipt icon"
    >
      <mat-icon>print</mat-icon>
    </button>
    &nbsp;
    <button
      mat-mini-fab
      (click)="resetProductSelection($event)"
      color="primary"
      aria-label="icon button with a restart icon"
    >
      <mat-icon>restart_alt</mat-icon>
    </button>
  </div>
  <div>
    <app-receipt-canvas></app-receipt-canvas>
  </div>
</div>
