._select-product-list_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
}

._select-product-list_promotion-name {
  color: var(--pick-theme-color);
}

._select-product-list_filter-container {
  text-align: left;
  display: flex;
  place-items: center;
  flex-wrap: wrap;
}

._select-product-list_reset-container {
  text-align: left;
  @media only screen and (max-width: 600px) {
    text-align: center;
  }
}
:host ::ng-deep.mat-form-field-label,
:host ::ng-deep.mat-focus-indicator.mat-icon-button.mat-button-base {
  color: #c2185b;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(194 23 91 / 5%);
}
