._select-product-cold-pressed-button-hover {
  background-color: var(--background-hover);
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0.2px;
}
._select-product_cold-pressed-button {
  // width: min-content;
  display: flex;
  padding: 0.5em;
  border-radius: 12px;
  align-items: center;
  user-select: none;
  cursor: pointer;
  background-color: #fff;

  &:hover {
    @extend ._select-product-cold-pressed-button-hover;
  }
}

._select-product_less-opacity {
  opacity: 0.5;
}

._select-product_search-icon {
  color: white;
}

._select-product_product-select-row {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 100px 40px 0.5em;
  align-items: center;
  column-gap: 0.5em;
}

._select-product_highlight {
  color: var(--pick-theme-color);
}
