<div
  class="_select-product_product-select-row"
  [class._select-product_highlight]="highlight"
>
  <div class="_select-product_cold-pressed-button" (click)="addProduct($event)">
    <img alt="logo" [src]="product.src" style="width: 3rem" />
    <div style="white-space: nowrap">
      <div>
        {{ product.name }}
      </div>
      <div style="opacity: 0.5">
        <span>฿ {{ product.price | number: "1.0" }}</span>
      </div>
    </div>
  </div>
  <div style="justify-self: center; font-size: 1.125rem">
    &nbsp;
    <span>x {{ amount$ | async | number: "1.0" }}</span>
  </div>
  <div>
    <button
      (click)="removeProduct($event)"
      mat-mini-fab
      color="primary"
      aria-label="icon button with a remove icon"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>
