._select-product_cold-pressed-button {
  // width: min-content;
  display: flex;
  padding: 0.5em;
  border-radius: 12px;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--background-hover);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0.2px;
  }
}

._select-product_product-select-row {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 100px 40px 0.5em;
  align-items: center;
  column-gap: 0.5em;
}

._select-product_highlight {
  color: var(--pick-theme-color);
}
